body {
  background: black;
  color: white;
  /* overflow: hidden; */
}

.container {
  position: absolute;
  width: 200px;
  right: 0;
  bottom: 0;
}

/* hover-over slide-out nav bar */

h1 {
  right: 0;
}

h2 {
  margin: 0 ; /* must be set so sliding motion is horizontal*/
  /* display: block;
  background-color: yellow; */
  display: flex;
  justify-content: center;
  color: white;
}


.icon-box a {  /* makes the sliding motion smoother*/
  padding: 140px;
  text-align: center;
}

.icon-box.home h2 {  /* when content tab comes out*/
  z-index: -999;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  line-height: 85px;
  width: 120px;
  padding-right: 120px;
  -webkit-transition: all .3s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.icon-box.home a:hover h2 {
  opacity: 1;
  right: 120px;
  margin: 0;
  text-align: center;
}
