body{
  background: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu {
  list-style-type: none;
}
.menu li:active .submenu, .menu li:hover .submenu, .menu li:focus .submenu {
  transform: translateX(0);
}
.submenu-wrap {
  display: inline-block;
  overflow-x: hidden;
  vertical-align: bottom;
  margin: 0 0 0 0.5rem;
}
.submenu {
  display: inline-block;
  transform: translateX(100%);
  transition: transform 1s linear;
  list-style-type: none;
  padding: 0;
}
.submenu li {
  display: inline-block;
  padding: 0 0 0 1rem;
}
.submenu li:first-child {
  margin-left: -0.5rem;
}

button {
  z-index: 1;
  position: fixed;
  bottom: 3em;
  left: 1em;
}
